server {
  server_name ~^(?<sd>.+)\.local;
  root        /var/www;
  index       index.php;
  error_log /var/log/site-error.log;

  client_max_body_size 10M;
  fastcgi_read_timeout 1800;

  location / {
      location ~* /imagecache/ {
          access_log off;
          expires 30d;
          try_files $uri @drupal;
      }

      location ~* /files/styles/ {
          access_log off;
          expires 30d;
          try_files $uri @drupal;
       }

      ## All static files will be served directly.
      location ~* ^.+\.(?:css|cur|js|jpe?g|gif|htc|ico|png|html|xml|otf|ttf|eot|woff|svg)$ {
          expires       max;
          log_not_found off;
          access_log    off;

          ## No need to bleed constant updates. Send the all shebang in one
          ## fell swoop.
          tcp_nodelay off;

          ## Set the OS file cache.
          open_file_cache max=3000 inactive=120s;
          open_file_cache_valid 45s;
          open_file_cache_min_uses 2;
          open_file_cache_errors off;
      }

      ## PDFs and powerpoint files handling.
      location ~* ^.+\.(?:pdf|pptx?)$ {
          expires 30d;
          ## No need to bleed constant updates. Send the all shebang in one
          ## fell swoop.
          tcp_nodelay off;
      }

      ## Advanced Help module makes each module provided README available.
      location ^~ /help/ {
          location ~* ^/help/[^/]*/README\.txt$ {
              include fastcgi_params;
              fastcgi_param QUERY_STRING q=$uri&$args;
              fastcgi_param SCRIPT_NAME /index.php;
              fastcgi_param SCRIPT_FILENAME $document_root/index.php;

              fastcgi_pass  unix:/var/run/php5-fpm.sock;
          }
      }

      try_files $uri @drupal;
  }

  location @drupal {
      include fastcgi_params;
      fastcgi_param QUERY_STRING q=$uri&$args;
      fastcgi_param SCRIPT_NAME /index.php;
      fastcgi_param SCRIPT_FILENAME $document_root/index.php;
      fastcgi_param always_populate_raw_post_data -1;
      fastcgi_pass  unix:/var/run/php5-fpm.sock;
  }

  ## Disable access logs for robots.txt.
  location = /robots.txt {
      access_log off;
      ## Add support for the robotstxt module
      ## http://drupal.org/project/robotstxt.
      try_files $uri @drupal;
  }

  ## RSS feed support.
  location = /rss.xml {
      try_files $uri @drupal;
  }

  ## Support for favicon. Return an 1x1 transparent GIF if it doesn't
  ## exist.
  location = /favicon.ico {
      expires 30d;
      try_files /favicon.ico @empty;
  }

  ## Return an in memory 1x1 transparent GIF.
  location @empty {
      expires 30d;
      empty_gif;
  }

  location ~ \.php$ {
      try_files     $uri = 404;
      include       fastcgi_params;
      fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;

      fastcgi_pass  unix:/var/run/php5-fpm.sock;
  }
}
